@media screen and (max-width: 1130px) {
    #container{
        width: 90%;
    }
    #header h1{
        font-size: 50px;
    }

    .side-item h3{
        font-size: 18px;
        margin: 8px 0;
    }
    .side-item p{
        margin: 0;
    }
    #side-bar{
        padding: 0 10px;
        width: 30%;
    }
}

@media screen and (max-width: 936px) {
    #header h1{
        font-size: 42px;
    }

    .side-item h3{
        font-size: 16px;
    }
}